* {
    box-sizing: border-box;
}

html, body {
    margin:0;
    padding:0;
    font: normal normal 15px/120% "Lota Grotesque";
    color: #6e6e6e;
    background: #fbfbf7; /* fdfdfd;*/
}

username input {
    display: block;

    font: bold 32px/40px "Lota Grotesque";
    text-align: center;
    
    border: 1px solid #6e6e6e;
    border-radius: 5px;
    padding: 8px 4px 4px 4px;
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.3);

    height: 52px;
    width: 80vW;
    min-width: 320px;
    max-width: 600px;
}

username {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    z-index: 110;
    top: 0; right: 0; bottom: 0; left: 0;

    width: 100vW;
    height: 100vH;
    
    background: rgba(251, 251, 247, 0.9); /*#fbfbf7;*/
}

username.inactive {
    /*opacity: 0;*/
    z-index: 0;
    
    height: 20px;
    width: auto;
    max-width: 80vW;

    position: static;
    float: right;

    margin-right: 25px;
}

/*username.inactive::before {
    content: "logged in as: ";
    font: normal 12px/20px "Source Sans Pro";
}*/

username.inactive input {
    font: italic 15px/20px "Source Sans Pro";
    text-align: right;
    color: #707070;

    width: auto;
    min-width: 0;
    height: 20px;

    margin: 0 10px 0 0;
    padding: 0;

    border: none;
    box-shadow: none;
    background: transparent;
}

username:not(.inactive) + header {
    /*position: absolute;
    z-index: 130;
    width: 40vW;*/

}

header {
   line-height: 60px;
   vertical-align: middle;

   /*transition: margin-left:*/
}

header * {
    line-height: initial;
}

header h1 {
   font-family: "Lota Grotesque Alt2";
   font-weight: 900;
   margin: 0.5em;
}

header h1 + p {
    margin-top: -1.7em;
    text-transform: lowercase;
    font-variant: small-caps;
    font-size: 15px;
}

header img {
   margin: 0 0.5em 0.5em 0.5em;
   float: left;
}

content {
    display: block;

    width: 100%;
    height: calc( 100vH - ( 80px + 20vH ) );
    min-height: calc( 100vH - ( 80px + 200px ) );
    /*max-height: calc( 100vH - ( 80px + 200px ) );*/
}

controls {
    position: fixed;
    
    bottom: 0;
    left: 0;
    right: 0;

    width: 100vw;
    height: 20vH;
    /*min-height: 200px;*/
    max-height: 200px;

    z-index: 100;

    background: #aad;
    box-shadow: -2px 0px 4px 0px rgba(0,0,0,0.4);

    font: normal 24px/120% "Lota Grotesque";
}

controls button {
    margin: 0;
    padding: 0;
    height: 100%;
    float: left;
    color: #fff;
}

controls button.negative, 
controls button.positive {
    width: 35%;
}

controls button.neutral {
    width: 14%;
}

controls button.negativeAmbiguous,
controls button.positiveAmbiguous {
    width: 8%;
}

controls button.positive {
    background: 
        linear-gradient(
            0deg,
            rgba(0,0,0,0.0),
            rgba(0,0,0,0.3) 55%,
            rgba(0,0,0,0.0)
        ),
        linear-gradient(
            #53a65b,
            #53a65b
        );
}

controls button.positive:active,
controls button.positive.active
{
    background:
        linear-gradient(
            0deg,
            rgba(0,0,0,0.0),
            rgba(0,0,0,0.3)
        ),
        linear-gradient(
            #53a65b,
            #53a65b
        );
}

controls button.negative {
    background:
        linear-gradient(
            0deg,
            rgba(0,0,0,0.0),
            rgba(0,0,0,0.3) 55%,
            rgba(0,0,0,0.0)
        ),
        linear-gradient(
            #bb1f1f,
            #bb1f1f
        );
}

controls button.negative:active,
controls button.negative.active {
    background:
        linear-gradient(
            0deg,
            rgba(0,0,0,0.0),
            rgba(0,0,0,0.3)
        ),
        linear-gradient(
            #bb1f1f,
            #bb1f1f
        );
}

controls button.neutral {
    background:
        linear-gradient(
            0deg,
            rgba(0,0,0,0.0),
            rgba(0,0,0,0.3) 55%,
            rgba(0,0,0,0.0)
        ),
        linear-gradient(
            #707070,
            #707070
        );
}

controls button.neutral:active,
controls button.neutral.active
{
    background:
        linear-gradient(
            0deg,
            rgba(0,0,0,0.0),
            rgba(0,0,0,0.3)
        ),
        linear-gradient(
            #707070,
            #707070
        );
}


controls button.positiveAmbiguous {
    background:
        linear-gradient(
            0deg,
            rgba(0,0,0,0.0),
            rgba(0,0,0,0.3) 55%,
            rgba(0,0,0,0.0)
        ),
        repeating-linear-gradient(
            -45deg,
            #53a65b,
            #53a65b 15px,
            #bb1f1f 15px,
            #bb1f1f 20px 
            /*#707070 15px,
            #707070 20px*/
        );
}

controls button.positiveAmbiguous:active,
controls button.positiveAmbiguous.active {
    background:
        linear-gradient(
            0deg,
            rgba(0,0,0,0.0),
            rgba(0,0,0,0.3)
        ),
        repeating-linear-gradient(
            -45deg,
            #53a65b,
            #53a65b 15px,
            #bb1f1f 15px,
            #bb1f1f 20px
            /*#707070 15px,
            #707070 20px*/
        );
}

controls button.negativeAmbiguous {
    background:
        linear-gradient(
            0deg,
            rgba(0,0,0,0.0),
            rgba(0,0,0,0.3) 55%,
            rgba(0,0,0,0.0)
        ),
        repeating-linear-gradient(
            -45deg,
            #bb1f1f,
            #bb1f1f 15px,
            #53a65b 15px,
            #53a65b 20px
            /*#707070 15px,
            #707070 20px*/
        );
}

controls button.negativeAmbiguous:active,
controls button.negativeAmbiguous.active {
    background:
        linear-gradient(
            0deg,
            rgba(0,0,0,0.0),
            rgba(0,0,0,0.3)
        ),
        repeating-linear-gradient(
            -45deg,
            #bb1f1f,
            #bb1f1f 15px,
            #53a65b 15px,
            #53a65b 20px
            /*#707070 15px,
            #707070 20px*/
        );
}

controls button.negativeAmbiguous p,
controls button.positiveAmbiguous p
{
   display: none;
}

controls button em {
    font-size: 18px;
    line-height: 120%;
    display: block;
}

controls button svg {
    font-family: "Lota Grotesque Alt2";
    font-weight: 900;
    font-style: italic;

    width: 40px;
    height: auto;

    display: none;
}

controls div.extra-buttons {
    position: absolute;
    bottom: calc(20vH + 20px);
    right: 20px;
}

controls div.extra-buttons button {
    display: block;
    float: none;

    padding: 8px;

    border: none;
    background: none;

    color: #000;
    font: 18px/120% "Lota Grotesque";
    text-transform: uppercase;

    cursor: pointer;

    transition: opacity 0.7s;
}

controls div.extra-buttons button.disabled {
    cursor: not-allowed; /*default;*/
    opacity: 0.4;
}

controls div.extra-buttons button::after {
    font: 16px FontAwesome;
}

controls div.extra-buttons button.skipped::after {
    content: " \f050 "; /* fast-forward */
}

controls div.extra-buttons button.back::after {
    content: " \f0e2 "; /* undo */
}


@media only screen and (min-width: 801px) {
    controls button svg {
       display: inline;
    }

    controls button.negativeAmbiguous p,
    controls button.positiveAmbiguous p
    {
       display: block;
    }
}

@media only screen and (min-width: 1201px) {

}
