content {
    height: calc(100vH - (80px + 10vH)); 
    max-height: initial;
    margin-top: 16px;
    margin-bottom: 16px;
}

header {
    display: none;
}

username.inactive input {
    margin-top: 10px;
}

controls {
    height: 10vH;
}

controls button.positiveAmbiguous,
controls button.neutral,
controls button.negativeAmbiguous {
    display: none;
}

controls button.positive,
controls button.negative {
    width: 50%;
}

controls div.extra-buttons {
    bottom: calc(10vH + 20px);
}

